@font-face {
    font-family: Unageo;
    src: url(assets/Unageo[wght].ttf);
    font-weight: 300 900;
    font-variation-settings: "ital" 0 1;
}

body{

    margin: 0;

}

* {

    font-family: Unageo;
    text-decoration: none;
}



.navbar {

    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 4 !important;
    justify-content: space-between;
}

.navbartext {

    color: rgb(233, 233, 233);
    font-weight: 300;
    margin-right: 65px;
    opacity: 85%;
    font-weight: 300;
    font-size: 1.125rem;
    transition-duration: 200ms;
    letter-spacing: 1.3px;
}

.navbartext:hover {

    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0 20px #ffffffcc;
    transition-duration: 200ms;
    
    
}


.navbartextselected {

    color: rgb(233, 233, 233);
    font-weight: 600;
    
}

.container {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: rgb(16,16,16);
    background: linear-gradient(0deg, rgba(16,16,16,1) 0%, rgba(24,24,24,1) 100%);
    justify-content: center;
    align-items: center;
    
}

.cleft {

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.cright {

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.shiranai {

    font-size: 10.7rem;
    font-weight: 900;
    color: rgb(231, 231, 231);
    letter-spacing: 10px;
    z-index: 3;
  }

.clothing {

    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(231, 231, 231);
    margin-top: -40px;
    margin-left: 9px;
    z-index: 4;
    letter-spacing: 1.5px;

}

.maintext {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 80px;
    margin-left: 100px;
}

.shiranailogo {

    width: auto;
    height: 700px;
    margin-right: 170px;
    margin-top: 100px;

}

.shiranaijp {

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin-right: 520px;
    margin-top: 120px;

}

.shiranaijptext {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b8453d;
    font-size: 9.8rem;
    font-weight: 800;
    margin-bottom: 40px;
    line-height: 9.8rem;

}

.cartimg {

    width: auto;
    height: 33px;
    margin-right: 25px;
    opacity: 70%;
    transition-duration: 200ms;
}

.cartimg:hover {

    opacity: 100%;
    cursor: pointer;
    transition-duration: 200ms;


}

.logoimg {

    width: auto;
    height: 40px;
    margin-left: 25px;
    opacity: 70%;
    transition-duration: 200ms;

}

.logoimg:hover {

    opacity: 100%;
    cursor: pointer;
    transition-duration: 200ms;

}


.test {

    font-size: 11rem;
    color: beige;

}

.arrow {

    position: absolute;
    margin-top: 200px;
    opacity: 80%;
    transform: translate(-50%, 0);
    transition-duration: 200ms;
}

.arrow:hover {

    opacity: 100%;
    transition-duration: 200ms;
    cursor: pointer;

}


.container2 {

    width: 100%;
    height: 140vh;
    background: #0f0f0f;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.fcontainer {

    width: 85%;
    margin-top: 90px;
    height: 45%;
    display: flex;
    flex-direction: column;

}

.ftextdecor {

    font-size: 2rem;
    font-weight: 600;
    color: rgb(226, 226, 226);

}

.fsmalltextdecor {

    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(226, 226, 226);
    opacity: 70%;
    letter-spacing: 1px;

}

.fbox {

    background-color: #161616;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 77px;

}

.fboxinside {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
    margin-bottom: 25px;
    margin-top: 30px;
    background-color: #1c1c1c;
    border-radius: 15px;


}

.fboxtext {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-left: 45px;
    margin-bottom: 10px;

}

.fboxtextdecor {

    color: rgb(226, 226, 226);
    font-weight: 300;
    font-size: 1.2rem;

}

.fboxpricedecor {

    font-weight: 500;

}

.fcontent {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}


::-webkit-scrollbar {
    display: none;
}